body,p{
	margin: 0;
	padding: 0;
	font-family: "Lantinghei SC"ï¼Œ"Hiragino Sans GB","Microsoft Yahei","Helvetica","arial","sans-serif";
}

body{
	background: #f1f1f1;	
}

a{
	text-decoration: none;
}

.cf:after{
	content: ;
	display: ;
	clear: both;
}

.b{
	font-weight: bold;
}

.w-1000{
	width: 1000px;
	margin: 0 auto;	
}